.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  margin: 2px;
}
.action {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  left: 96%;
  top: 2%;
}
.find-loc{
  position: absolute;
  top: 5px;
  left: 115px;
  z-index: 1000;
}
.find-loc input{
width: 600px;
height: 34px;
}
.find-loc button{
height: 36px;
margin-left: 10px;
}
.action .share-location {
  margin-top: 5px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  font-size: 52px;
  background-color: #ff5200eb;

}

.action .current-location {
  margin-top: 5px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #008cffeb;

}
.map-frame {
  border: 3px solid black;
  height: 99%;
}
#map {
  height: 100%;
}
